.tag {
  display: inline-block;
  padding: 5px 10px;
  line-height: 22px;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0,0,0,.6);
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
  border-radius: 3px;
  margin: 0 8px 10px 0;
}

.tags {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  display: block;
}
