.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homeSide {
  position: absolute;
  top: 0;
  left: 0;
  width: $sideBarWidth;
  height: 100%;
  overflow: hidden;
}

.homeMain {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: $sideBarWidth;
  overflow: hidden;
}

.postMain {
  position: relative;
  width: 100%;
  height: 100%;
}
