.c-postListMain {
  position: relative;
  display: block;
  padding: 0 20px;
}

.c-postList__toolbar {
  background-color: transparent;
  height: 36px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.6);
}

.c-postList__table {

}
