.postListMain {
  position: relative;
  display: block;
  padding: 0 20px;
}

.postList__toolbar {
  background-color: transparent;
  height: 36px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.6);
}

.postList__table {
  
}
