$form-controller-border: 1px solid #e5e5e5;
$form-controller-border-radius: 2px;
$form-controller-height: 35px;
$form-controller-font-color: #666;

@import 'text-field';
@import 'checkbox-field';
@import 'image-field';
@import 'select-field';

.u-formControl {
  position: relative;
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
