.u-textField {
  display: inline-block;
  padding: 4px 6px;
  height: $form-controller-height;
  line-height: $form-controller-height;
  max-width: 100%;
  border: $form-controller-border;
  border-radius: $form-controller-border-radius;
  font-family: inherit;
  color: $form-controller-font-color;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  transition: all .2s ease;

  &:focus {
    border-color: #489be0;
    outline: 0;
  }
  &--block {
    @extend .u-textField;
    display: block;
    width: 100%;
  }
}
