$table-cell-padding: 16px 12px;

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  padding: $table-cell-padding;
  font-size: 12px;
  color: rgba(0,0,0,.4);
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

tr {
  background-color: transparent;
  transition: background-color .1s ease;
}

tbody > tr:hover {
  background-color: #fff;
}

td {
  padding: $table-cell-padding;
  color: #666;
}

.u-table__cell--minWidth {
  width: 1px;
}
